version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb-lab-ucsm
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=secret
    volumes:
      - ./mongo-data:/data/db
    command: mongod --bind_ip_all


# docker-compose up -d 