p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: #0077b6;
}

p::first-line {
    color: darkslategray;
}

h2::before {
    content: "👾 ";
    color: crimson;
}

h3::after {
    content: " 🤔";
}

footer::before {
    content: "© ";
    color: gray;
}

::selection {
    background: yellow;
    color: black;
}

li::marker {
    color: red;
    font-size: 1.2em;
}
